#UpdBtn{
    border-color: green;
    background-color: green;
    color : white;
    margin:5%;
    padding: 3%;
    border-radius: 25%;
}

#DelBtn{
    border-color: red;
    background-color: red;
    color : white;
    margin:5%;
    padding: 3%;
    border-radius: 25%;
}

#Lst{
    width :80%;
    margin-top : 7%;
    margin-right:10%;
    margin-left:10%;
}

table tr{
    Border : 0.5px solid grey;
    height: 40px;
    text-align: center;
}

table{
    Border : 1px solid black;
}

thead{
    height : 40px;
    color:white;
    background-color: black;
}